
<div class="mainimg">
  <%= image_tag("mainimg.jpg") %>
</div>
<main>
  <div class="catch">
    <h2><span class="under">I’ll buy that!</span></h2>
    <p>ー ついつい衝動買いをしてしまう人のための衝動買い管理ツール ー<br>衝動買い金額から算出した労働時間を使って、衝動買いを防止したり、購入した後の後悔や罪悪感を減らすためのシフトカレンダーを作成することができます。</p>
  </div>
  <section id="1" class="gray-back">
    <h2 class="center"><span class="under">サービスの使い方</span></h2>
    <div class="container center">
      <div class="row">
        <div class="col span-4">
          <%= image_tag("product.jpg") %>
		      <h3>1.</h3>
		      <p>ここに説明文が入ります</p>
        </div>
        <div class="col span-4">
          <%= image_tag("product.jpg") %>
            <h3>ここに商品が入ります</h3>
		        <p>ここに説明文が入ります</p>
        </div>
        <div class="col span-4">
          <%= image_tag("product.jpg") %>
		      <h3>ここに商品が入ります</h3>
		      <p>ここに説明文が入ります</p>
        </div>
      </div>
	  </div>
  </section>
</main>

