<section class="gray-back">
  <h2 class="center">
    <span class="under">
    <%= @impulse_purchase.title %> の購入を見送った！
    </span>
  </h2>
  <h3 class="center">
    購入金額:  <%= @impulse_purchase.purchase_amount %>  円
  </h3>
  <h3 class="center">
    労働時間:  <%= @impulse_purchase.operating_time %>  時間
  </h3>
</section>