<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1>結果はっぴょー</h1>
      <div class="mb-3">
        <%= @prod.purchase_amount %>円の金額には、
        <%= @operating_time %>時間分の労働が必要です。
      </div>
      <div class="mb-3">
        <%= link_to  "購入を見送る？", "#" %>
        <%= link_to  "購入する？", "#" %>
      </div>
    </div>
  </div>
</div>