<% if resource.errors.any? %>
  <div class="error_explanation">
    <ul class="list-unstyled">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>