<footer>
  <div class="container">
    <div class="center">
      <div class="row">
        <div class="col span-4">
          <%= link_to 'お問い合わせ', "https://forms.gle/AD1yNGrsM1qhoNBGA" %>
        </div>
        <div class="col span-4">
          <%= link_to '利用規約', term_path %>
        </div>
        <div class="col span-4">
          <%= link_to 'プライバシーポリシー', privacy_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <a>Copyright © 2024 NAGOOO.</a> 
  </div>
  <p id="pagetop">
    <%= link_to 'TOP', "#" %>
  </p>
</footer>