<footer>
  <div class="container">
    <div class="row">
      <div class="col span-4">
        <h4>お問い合わせ</h4>
      </div>
      <div class="col span-4">
        <h4>利用規約</h4>
      </div>
      <div class="col span-4">
        <h4>プライバシーポリシー</h4>
      </div>
    </div>
  </div>
  <div class="copyright">
    <a href="#" target="_blank">Copyright © NAGOOO.</a> 
  </div>
  <p id="pagetop"><a href="#">TOP</a></p>
</footer>