<header>    
  <div class="container">
    <div class="row">
      <div class="col span-12 header">
        <h1><%= link_to "I’ll buy that!", root_path , class: "logo" %></h1>
        <div class="row">
          <div class="col span-12">
            <nav>
              <div id="open"></div>
              <div id="close"></div>   
              <div id="navi">
                <ul>
                  <li><%= link_to '計算', new_impulse_purchase_path %></li>
                  <li><%= link', impulse_purchases_path %></li>
                  <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>