<header>    
  <div class="container">
    <div class="row">
      <div class="col span-12 header">
        <h1><a href="">I'll buy that! </a></h1>
		    <div class="header-box"><a href=""><span class="contact-button">お問い合わせ</span></a></div>
      </div>
    </div>
    <div class="row">
      <div class="col span-12">
        <nav>
          <div id="open"></div>
          <div id="close"></div>   
            <div id="navi">
              <ul>
                <li><a href="index.html">ホーム</a></li>
                <li><a href="#1">ログイン</a></li>
                <li><a href="#2">会員登録</a></li>
                <li><a href="#3">診断する</a></li>
                <li><a href="#4">みんなの診断結果</a></li>
                <li><a href="#5">マイページ</a></li>
              </ul>
            </div>
        </nav>
      </div>
    </div>
  </div>
</header>