<h1>Editing operation plan</h1>

<%= render "form", operation_plan: @operation_plan %>

<br>

<div>
  <%= link_to "Show this operation plan", @operation_plan %> |
  <%= link_to "Back to operation plans", operation_plans_path %>
</div>
