@charset "UTF-8";
@import url("grid.css");

:root { /* 色変更される場合は、#以降のカラーコードを変更してください IE非対応 */
    --base-color: #ffca75;
    --link-color: #666;
    --linkhover-color: #999;
    --back-color: #f7f7f7;
    --border-color: #ffca75;
    --white-color: #000;
}

img {
	max-width:100%;
	height: auto;/*高さ自動*/
}
a {
    display:block;
    color: var(--link-color);
    text-decoration-line: none;
}

a:hover { 
    color: var(--linkhover-color);
}

/*ヘッダー
-------------------------------------*/
.header {
	display: flex;
    flex-direction: row;
    padding: 2rem 0 0 0;
}
.header-box {
	margin-left: auto;
	margin-top: 8px;
}
.contact-button {
	padding: 1rem;
	border: 2px solid var(--base-color);
}
nav ul {
	display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
	margin: 1rem 0 0 0;
}
nav li {
	flex: 1 0 auto;
}
nav li a {
    text-decoration: none;
    text-align: center;
    width: 100%;
}
nav a:hover {
    background-color: var(--back-color);   
}
nav a {
    padding: 0.5rem;
}

@media screen and (min-width: 768px){
/* PC時はMENUボタンを非表示 */
#open,#close {
    display: none !important;
}

#navi {
    display: block !important;
}
}

@media screen and (max-width: 768px){
.header {
	flex-direction: column;
    margin-bottom: 10px;
}
.header #open,#close  {
    position: absolute;
    top: 20px;
    right: 12px;
}
nav ul {
	flex-direction: column;
}
.header li {
	padding-top: 0;
}
/* スマホ時はMENUボタンを表示 */
#open {
    display: block;
    background: url(button.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    border: none;
    position: absolute;
    top: 20px;
    right: 12px;
}
#close  {
    display: block;
    background: url(button2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    border: none;
    position: absolute;
    top: 20px;
    right: 12px;
}
/* スマホ時はメニューを非表示 */
#navi {
    display: none;
}
}
    
/*メイン画像
-------------------------------------*/
.mainimg img {
    width: 100vw;
}

/*メインコンテンツ
-------------------------------------*/
main {
    margin: 5rem 0 0 0;
}
section {
	margin-bottom: 5rem;
	padding: 3rem 0;
}
.gray-back {
	background-color: var(--back-color);
}

/*キャッチコピー
-------------------------------------*/
.catch {
    text-align: center;
    margin-bottom: 5rem;
}
.catch h2 {
    padding-bottom: 1rem;
}
.under {
    border-bottom: 0.4rem solid var(--base-color);
}
.center {
	text-align: center;
	margin-bottom: 2rem;
}

/*申し込みの流れ
-------------------------------------*/
.flow.row {
	margin-bottom: 3rem;
}

/*フッター
-------------------------------------*/
footer {
    background-color: var(--back-color); 
    padding-top: 2rem;
}
footer h4 {
    border-bottom: 3px solid var(--border-color);
}
/*コピーライト
-------------------------------------*/
.copyright {
    text-align: center;
    padding: 1rem 0;
    background-color: var(--base-color);
}
.copyright a {
    color: var(--white-color);
    text-decoration: none;
	display: inline;
}

/*ページトップへ戻るボタン
-------------------------------------*/
#pagetop {
    position: fixed;
    bottom: 15px;
    right: 15px;
}
#pagetop a {
    display: block;
    background-color: var(--base-color);
    color: var(--white-color);
    width: 50px;
    padding: 10px 5px;
    text-align: center;
    border: solid;
}
#pagetop a:hover {
    background-color: var(--link-color);
}
/*ヘッダー
-------------------------------------*/
.header-box {
	display: none;
}	
/*フラッシュメッセージ
-------------------------------------*/
.flash-message {
    border-radius: 5px;
    padding: 16px 24px;
    margin: 16px 0px;
}
   
.flash-message.notice {
    background-color: #bcdfff;
    color: #0067C0;
    border: solid 1px #0067C0;
}
   
.flash-message.alert {
    background-color: #ffd4d1;
    color: #930403;
    border: solid 1px #930403;
}
/*エラーメッセージ
-------------------------------------*/
.error_explanation {
    color:#262626; 
    background:#FFEBE8;
    text-align: center;
    border:2px solid #990000;
    padding:12px;
    width: 50%;
    font-weight: 850;
    margin:0 auto;
}
/*
-------------------------------------*/
.result {
    width: 50%;
    margin:0 auto;
}

.result-static {
    width: 90%;
    margin:0 auto;
}

.result-static_area {
    padding: 60px;
}

/*　おしゃれテーブル5　ポルカドット */
.osare5-table {
    width:100%;
    table-layout: fixed;
      border: none !important;
       border-collapse: separate;
       border-spacing: 4px 4px;
   }
   
   
   .osare5-table th {
      border: none !important;
   }
   
   .osare5-table tbody td {
     border: solid;
     border-color: var(--base-color);
   }
   
   /* ヘッダー */
   .osare5-table thead th {
     font-weight: bold;
     border-radius: 5px 5px 5px 5px;
     background:#f6f0ff;
   }
   
   /* フッター（比較表と色つけたとき用） */
   .osare5-table tfoot td {
   border-radius: 0 0 10px 10px;
   }
    
    
   /* ボディ項目 */
   .osare5-table tbody th {
     border-radius: 5px 5px 5px 5px;
     background:#fffcf0;
     font-weight: bold;
     border-bottom: solid 2px #f9f9f9 !important;
     line-height:4.5em;
   }
    
   /* フッター項目 */
   .osare5-table tfoot th {
    background:none;
    line-height:3em;
    font-weight: bold;
   }
   
   
   /* フッターデータ(フッターがあるときのみ有効) */
   .osare5-hikaku tfoot td {
    border: none !important;
    background:none;
    text-align:center;
    font-weight:600;
    font-size:1em;
   }
    
   /* ボディデータ */
   .osare5-table tbody td {
    text-align:center;
   }
    
   .osare5-table thead th:first-child  {
     background:none;
   }
   
   /* スマホ調整 */
   @media (max-width: 767px) {
     .osare5-table thead th,
     .osare5-table tbody th {
         padding:0;
     }
     .osare5-table tfoot td {
     padding:0;
     font-size:0.9em;
     }
   .osare5-table tfoot td:nth-child(2) {
      font-size:1em;
     }
     
   }

   /* 印刷用設定 */
    .print-off {
      display: none;
    }