<p> <%= @resource.nickname %> 様</p>

<p>パスワードを変更するためのリンクをリクエストしました。以下のリンクから行うことができます。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>リンクにアクセスして新しいパスワードを設定するまで、パスワードは変更されません。</p>

<p>当メールの内容に心当たりがない場合は、大変お手数ですが上記URLをクリックせずに本メールの削除をお願いいたします。</p>
